
<!-- Start twitter card -->
<div ng-if="card.service_slug === 'twitter'" class="card" data-slug="twitter">
    <div class="card-source-tag black">
        <img class="tag-logo" width="32" src="public/img/twitter-32.png">
    </div>
    <div class="content twitter-user">
        {{card.item_data.user.username}}
    </div>
    <div class="content tweet" ng-bind-html="card.item_data.tweet" linkify>
    </div>
</div>
<!-- End twitter card -->

    
<!-- Start instagram card -->
<div ng-if="card.service_slug === 'instagram'" class="card" data-slug="instagram">
    <div class="card-source-tag black">
        <img class="tag-logo" width="32" src="public/img/instagram-32.png">
    </div>
    <div class="image">
        <img ng-src="{{card.item_data.image.large}}">
    </div>
    <div class="content instagram-user">
        {{card.item_data.user.username}}
    </div>

    <div class="content" ng-bind-html="card.item_data.caption"></div>
    
</div>
<!-- End instagram card -->

    
<!-- Start manual card -->
<div ng-if="card.service_slug === 'manual'" class="card" data-slug="manual">
    <div  class="card-source-tag">
        <div class="manual-tag">
            <span class="manual-tag-text">AFF</span>
        </div>
    </div>
    
    <div class="image">
        <img ng-src="{{card.item_data.image_url}}">
    </div>
    <div class="content no-top-pad">
        {{card.item_data.text}}
    </div>
    <div class="content no-top-pad red-text">
        <a ng-href="{{card.item_data.link}}" target="_blank">{{card.item_data.link_text}}</a>
    </div>
</div>
<!-- End manual card -->               