<!doctype html>
<html ng-app="socialwallApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullring Birmingham</title>
        <link rel="stylesheet" href="bower_components/foundation/css/foundation.min.css">
        <link rel="stylesheet" href="public/css/app.css">
    </head>
    <body>
        <div ng-controller="cardListController as cardlist">
            <div class="row" id="filters">
                <div class="filter-options row hide-for-small">
                    <div ng-click="cardlist.updateFilters('manual')" ng-class="{active : cardlist.activeFilter('manual')}" class="filter-option columns large-4 medium-4">AFF</div>
                    <div ng-click="cardlist.updateFilters('instagram')" ng-class="{active : cardlist.activeFilter('instagram')}" class="filter-option columns large-4 medium-4">Instagram</div>
                    <div ng-click="cardlist.updateFilters('twitter')" ng-class="{active : cardlist.activeFilter('twitter')}" class="filter-option columns large-4 medium-4">Twitter</div>
                </div>
                <div class="row filter-options hide-for-medium-up">
                    <div ng-click="cardlist.toggleFilters()" class="filter-option columns small-12">Filters</div>
                    <div ng-click="cardlist.updateFilters('manual')" ng-class="{active : cardlist.activeFilter('manual')}" class="filter-option columns small-12" ng-show="cardlist.visibleFilters">AFF</div>
                    <div ng-click="cardlist.updateFilters('instagram')" ng-class="{active : cardlist.activeFilter('instagram')}" class="filter-option columns small-12" ng-show="cardlist.visibleFilters">Instagram</div>
                    <div ng-click="cardlist.updateFilters('twitter')" ng-class="{active : cardlist.activeFilter('twitter')}" class="filter-option columns small-12" ng-show="cardlist.visibleFilters">Twitter</div>
                </div>
                
            </div>
            <div class="row deckgrid" source="cardlist.filteredPosts" cardTemplate="card-template.html"  deckgrid></div>
            <div class="row">
                <div class="columns large-4 medium-4 small-12 small-centered">
                    <a class="button" id="loadMoreButton" ng-click="cardlist.loadMorePosts()" ng-class="{disable : cardlist.disableLoad}">Load More</a>
                </div>
            </div>

        </div>

        <!-- js -->
        <script type="text/javascript" src="data/posts.js"></script>
        
        <script type="text/javascript" src="bower_components/foundation/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-linkify/angular-linkify.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-deckgrid/angular-deckgrid.js"></script>
        <script type="text/javascript" src="bower_components/angular-lazy-img/release/angular-lazy-img.min.js"></script>
        <script type="text/javascript" src="bower_components/foundation/js/foundation.min.js"></script>

        
        <script type="text/javascript" src="public/js/foundation.app.js"></script>
        <script type="text/javascript" src="public/js/app.js"></script>
    </body>
</html>