@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Kanit:500');
html, body {
  background: #FAFAFA; }

.black {
    background-color: black;}

.card {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px; 
  margin:0 auto;
  margin-bottom: 10px;}
  .card .content {
    padding: 20px;
    border-radius: 0 0 2px 2px; 
    color: #969696}
  .card p {
    margin: 0; }
  .card a {
    color:#ec3621;
    transition: color 0.3s ease;
    text-decoration: none;
    letter-spacing: 0.005em;}
  .card .image {
    position: relative; 
    text-align: center;}
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; 
      padding: 20px;}
    .card .card-source-tag {
        text-align: center;
        position: relative;
        top: -10px;
        left: 20px;
        margin: 20px 0 -50px 0;
        z-index: 999;
        max-width: 42px;
        min-height: 60px;
        border-radius: 5px;}
    .card-source-tag .manual-tag{
        background-color: #ec3621;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 5px;}
    .card-source-tag .tag-logo, .manual-tag .manual-tag-text{
        position: absolute;
        bottom: 5px;
        left: 5px;}
    .manual-tag .manual-tag-text{
        font-family: 'Noto Serif', serif;
        font-size: 16px;
        line-height: 16px;
        bottom: 15px;
        left: 6px;
        color: white;}

    .content.no-top-pad {
        padding-top: 0;}
    .content.twitter-user{
        margin: 30px 0 0 0;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-size: 1.25em;}
    .content.tweet {
        text-align: center;
        padding-bottom: 40px;}
    .content.instagram-user {
        padding: 0 20px 0 20px;
        font-weight: 500;}

#filters {
    margin: 20px auto;
        overflow: hidden;}
    #filters .filter-options {
        background: black;}
    .filter-option {
        transition: all 0.35s ease-in-out;
        cursor: pointer;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        color: white;}
        .filter-option:hover {
            background:  #ec3621;}
        .filter-option.active {
            background:  #ec3621;}

#loadMoreButton {
    display: block;
    background: transparent;
    border: 2px solid black;
    color: black;
    transition: all 0.5s ease-in-out;}
    #loadMoreButton:hover {
        color: #ec3621;
        border-color: #ec3621;}
    #loadMoreButton.disable {
        background: #808080;
        border-color: black;
        color: white;
    }


.deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
    font-size: 0;
    visibility: hidden;}
.deckgrid .column {
    float: left;}
.deckgrid .column-1-1 {
    width: 100%;}
.deckgrid .column-1-2 {
    width: 50%;}
.deckgrid .column-1-3 {
    width: 33.3%;}

@media (max-width : 660px) {
    .deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';}
}

@media (min-width: 660px) {
    .deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';}
}

@media (min-width: 950px) {
    .deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';}
}